.map {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;

}

.ui-body{
    border-radius: 10px;
}
.footer{
    font-size: 12px;
    padding:10px;
    float-right:10px !important;
}

a{
    color:#000;
}

/*[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} */